@import url(https://fonts.google.com/specimen/Inter);
@import url(https://fonts.google.com/specimen/Lexend+Deca);
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.Main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  justify-items: center;
}

.containerMain {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: scroll;
  background: #090b1a;
}

.containerMain__card {
  min-width: 80%;
  max-width: 70%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background: #1b1938;
  overflow: scroll;
  border-radius: 8px;
}

.card__image img {
  max-width: 100%;
  height: 100%;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 10px;
  padding: 20px 1px;
}
.card__info div {
  display: grid;
  align-items: center;
  justify-items: center;
  row-gap: 10px;
}
.card__info h1, .card__info h3, .card__info p, .card__info span {
  margin: 0;
  text-align: center;
}
.card__info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}
.card__info h3 {
  font-weight: 700;
  font-size: 20px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.card__info p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.75);
}
.card__info span {
  font-family: "Inter", sans-serif;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 10px;
}
.card__info strong {
  font-weight: 700;
  color: #aa5cdb;
}
.card__info div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.card__info div:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.card__info div:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}
.card__info div:nth-child(4) {
  grid-column: 1/2;
  grid-row: 4/5;
}
.card__info div:nth-child(5) {
  grid-column: 1/2;
  grid-row: 5/6;
}

.containerFooter {
  display: grid;
  justify-items: center;
  background: #000;
  width: 100%;
}
.containerFooter p {
  color: #fff;
  text-align: center;
}
.containerFooter p a {
  color: #FF3F00;
  text-transform: capitalize;
  text-decoration: none;
}
.containerFooter p a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Main {
    grid-template-rows: 1fr auto;
  }

  .containerMain__card {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    height: auto;
    column-gap: 20px;
    overflow: hidden;
  }

  .card__image {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .card__image img {
    width: 300px;
  }

  .card__info {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 30px 0px 30px 30px;
  }
  .card__info div {
    justify-items: left;
    align-content: center;
  }
  .card__info div p {
    padding: 0;
    font-size: 12px;
  }
  .card__info div h1, .card__info div h3, .card__info div p, .card__info div span {
    text-align: left;
  }
  .card__info div h3 {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .card__info div span {
    font-size: 10px;
    font-weight: 400;
  }
  .card__info div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .card__info div:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .card__info div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .card__info div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .card__info div:nth-child(5) {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .Main {
    grid-template-rows: 1fr auto;
  }

  .containerMain {
    overflow: hidden;
  }

  .containerMain__card {
    min-width: 70%;
    grid-template-columns: 1fr auto;
    height: auto;
    column-gap: 100px;
    overflow: hidden;
  }

  .card__image {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .card__image img {
    width: 400px;
    height: 100%;
  }

  .card__info {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/2;
    grid-row: 1/2;
    row-gap: 0;
    padding: 50px 0px 50px 50px;
    width: 85%;
  }
  .card__info div {
    justify-items: left;
    align-content: center;
  }
  .card__info div p {
    padding: 0;
    font-size: 18px;
  }
  .card__info div h1, .card__info div h3, .card__info div p, .card__info div span {
    text-align: left;
  }
  .card__info div h1 {
    font-size: 33px;
  }
  .card__info div h3 {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .card__info div p {
    font-size: 15px;
  }
  .card__info div span {
    font-size: 10px;
    font-weight: 700;
  }
  .card__info div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .card__info div:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .card__info div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .card__info div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .card__info div:nth-child(5) {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}/*# sourceMappingURL=styles.css.map */